ul,li{
    color: white;
    list-style-type: none;
}
li:hover
{
    color: green;
}
body{
    background-color: black;
}
.menu{
    display: flex;
    justify-self: center;
    margin-top: 20px;
}
img{
    width: 64px;
    height: 64px;
    
}
.judul
{
    animation-name: juduls;
    animation-duration: 5s;
}
@keyframes juduls {
    0% {color: blue;}
    25% {color:red}
    50%{color: blue;}
    75%{color: indigo}
    100%{color: chocolate;}
}